.search {
  margin: 1rem auto;
  display: flex;
  width: 80vw;
}

.search input {
  padding: var(--padding-label);
  width: 85%;
  border: none;
  border-start-start-radius: var(--border-radius-small);
  border-end-start-radius: var(--border-radius-small);
}

.search ::placeholder {
  color: var(--text-color);
}

.search button {
  padding: var(--padding-label);
  width: 15%;
  background-color: var(--primary-color);
  border: none;
  border-start-end-radius: var(--border-radius-small);
  border-end-end-radius: var(--border-radius-small);
  cursor: pointer;
}

.search button svg path {
  fill: var(--alt-text-color);
}

@media only screen and (min-width: 400px) {
  .search input {
    width: 90%;
  }

  .search button {
    width: 10%;
  }
}


@media only screen and (min-width: 1080px) {
  .search {
    flex-direction: row-reverse;
  }

  .search input {
    width: 95%;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    border-start-end-radius: var(--border-radius-small);
    border-end-end-radius: var(--border-radius-small);
  }

  .search button {
    width: 5%;
    background-color: white;
    border-start-start-radius: var(--border-radius-small);
    border-end-start-radius: var(--border-radius-small);
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }

  .search button svg path {
    fill:var(--primary-color);
  }
}