* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: "rundschrift";
  src: url(/fonts/vag_rundschrift_d.ttf)
}


:root {
  --font: "Open Sans", sans-serif;
  --heading-font: "rundschrift", sans-serif;


  --font-size-00: .5rem;
  --font-size-0: .75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.125rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.875rem; 
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;


  --text-color: #000000;
  --alt-text-color: #ffffff;
  --primary-color: #6a0025;
  --background-color: #F0E5E9;
  --background-category-color: #D2B2BD;
  --body-color: rgba(240, 229, 233, 1);




  --padding-label: 4px;
  --margin-center: 0 auto;


  --border-radius-small: 5px;
  --border-radius-big: 10px;
  --border-nav: 3px solid var(--primary-color);


  --card-max-width: 384px;


  --focus: solid 2px blue;
}


html {
  height: 100vh;
}


body {
  font-family: var(--font);
  background-color: var(--body-color);
}


ul li {
  list-style: none;
}


a {
  text-decoration: none;
  color: var(--text-color);
}


h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
  font-weight: 400;
}


:focus {
  outline: var(--focus);
  border-radius: var(--border-radius-small);
}


:focus:not(:focus-visible){
  outline: 0;
}