---
layout: "layouts/home.html"
title: "Oncollaboration"
---

<main>
  <h1>Home</h1>

  {% Search %}
  
  <section>
    <h2>Webinars</h2>
    <div class="carrousel">
      {% set countWeb = 0 %}
      {% for webinar in webinars %}
        {% if countWeb < 4 %}
        <div class="kaart">
          {% WebinarOverview slug=webinar.slug, thumbnail=webinar.thumbnail, duration=webinar.duration, title=webinar.title, speakers=webinar.speakers, categories=webinar.categories %}
        </div>
        {% set countWeb = countWeb + 1 %}
        {% endif %}
      {% endfor %}
    </div>
    <a class="see-more-button" href="/webinars">SEE ALL WEBINARS</a>
  </section>
  
  